/*
 Theme Name:   Jesse and Markie
 Description:  Child theme for wedding site 
 Author:       Tyler Vollick 
 Template:     twentyfifteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  twenty-fifteen-child
*/
/* _variables */
/* _typography */
body {
  font-family: 'Josefin Sans', sans-serif;
  color: #333; }

h1, h2, h3, h4, h5 {
  text-align: center; }
  h1.white, h2.white, h3.white, h4.white, h5.white {
    color: rgba(255, 255, 255, 0.9); }

h1 {
  font-size: 54px;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0 auto .3em; }

h2 {
  font-size: 26px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  color: #salmon;
  margin: 1em auto .3em; }

h3 {
  font-size: 17px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 3em auto .3em; }

.section-content p {
  width: 66%;
  margin: 1em auto;
  text-align: center;
  letter-spacing: 1px; }

@media screen and (max-width: 480px) {
  h1 {
    font-size: 25px; }
  h2 {
    font-size: 20px; }
  .section-content p {
    width: 100%; } }

/* _header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-top: 30px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  header:hover {
    background-color: rgba(0, 0, 0, 0.75); }
  header #mobile-menu-container {
    display: none; }
  header #mobile-menu {
    display: none; }
  header #mobile-toggle {
    display: none; }

.nav-container {
  max-width: 1028px;
  display: block;
  margin: 0 auto; }
  .nav-container .top-menu-panel {
    width: 39%;
    display: inline-block;
    float: left;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .nav-container .top-menu-panel ul {
      list-style: none;
      display: inline-block; }
      .nav-container .top-menu-panel ul li {
        float: left;
        margin: 5px 10px; }
        .nav-container .top-menu-panel ul li a {
          color: rgba(255, 255, 255, 0.9);
          letter-spacing: 1.5px;
          font-size: 14px;
          font-weight: 200; }
          .nav-container .top-menu-panel ul li a:hover {
            color: #fff; }
  .nav-container .site-title {
    width: 20%;
    display: inline-block;
    float: left; }

#rsvp {
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
  overflow: auto; }
  #rsvp #rsvp-container {
    max-width: 600px;
    margin: 120px auto;
    background-color: #f2f2f2;
    padding: 60px;
    position: relative; }
    #rsvp #rsvp-container form span {
      font-size: 14px;
      color: #FA8072; }
  #rsvp #exit {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-color: #FA8072;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px; }

@media screen and (max-width: 767px) {
  header {
    position: static;
    padding: 0;
    background-color: #333; }
    header:hover {
      background-color: #333; }
    header .nav-container {
      height: 80px;
      position: relative;
      overflow: visible;
      z-index: 100; }
      header .nav-container .site-title {
        position: absolute;
        left: 15px;
        top: 15px; }
      header .nav-container .top-left, header .nav-container .top-right {
        display: none; }
      header .nav-container #mobile-toggle {
        display: block;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer; }
      header .nav-container #toggle-icon {
        width: 40px;
        height: 5px;
        background-color: white;
        position: relative;
        top: 30px;
        left: 10px; }
        header .nav-container #toggle-icon:before, header .nav-container #toggle-icon:after {
          content: "";
          height: 5px;
          width: 40px;
          background-color: white;
          display: block;
          position: absolute; }
        header .nav-container #toggle-icon:before {
          top: -10px; }
        header .nav-container #toggle-icon:after {
          bottom: -10px; }
      header .nav-container #mobile-menu-container {
        position: absolute;
        background-color: #FA8072;
        width: 100%;
        top: 80px; }
        header .nav-container #mobile-menu-container #mobile-menu {
          display: block; }
        header .nav-container #mobile-menu-container ul {
          list-style: none;
          margin: 0;
          text-align: center; }
          header .nav-container #mobile-menu-container ul > li {
            padding: 0 15px;
            margin: 15px 0;
            border-bottom: 1px solid #807e81; }
            header .nav-container #mobile-menu-container ul > li > a {
              display: block;
              padding: 10px; }
  #rsvp #rsvp-container {
    padding: 30px 15px; } }

@media screen and (min-width: 768px) {
  #rsvp .name {
    width: 50%;
    float: left; }
    #rsvp .name.first-name {
      padding-right: 5px; }
    #rsvp .name.last-name {
      padding-left: 5px; } }

/* _base */
/* Base corrections */
body {
  font-size: 1.8rem;
  background: #f2f2f2; }
  body .site-main {
    padding: 0; }
  body .site-content {
    float: none;
    margin-left: 0;
    width: 100%;
    overflow-x: hidden; }
  body .site-footer {
    float: none;
    margin: 0;
    width: 100%; }
  body:before {
    display: none; }
  body #page.site {
    max-width: initial; }

/* End base corrections */
.row {
  margin-top: 30px; }

section {
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  section .section-container {
    max-width: 1028px;
    margin: 0 auto;
    padding: 80px 15px 60px;
    min-height: 75vh; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

*:first-child + html .clearfix {
  zoom: 1; }

#hero {
  background-position: center top; }
  #hero .section-container {
    padding-top: 150px; }

.hero-contents {
  position: relative;
  text-align: center;
  top: 50vh;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .hero-contents h1 {
    margin-top: 1.5em;
    font-size: 65px; }
  .hero-contents h3 {
    margin-top: 1.5em; }
  .hero-contents .rsvp {
    cursor: pointer;
    margin: 0 auto;
    display: inline-block;
    background-color: #fff;
    color: #1b1b1b;
    border-radius: 500px;
    border: none;
    text-align: center;
    padding: 1em 2em;
    line-height: 1em;
    font-size: 13px;
    letter-spacing: 3px;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
    .hero-contents .rsvp:hover {
      opacity: 0.7;
      outline: initial;
      border: none; }

#save-the-date .section-container {
  position: relative;
  top: 50vh;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-bottom: 25%; }

#save-the-date h1 {
  letter-spacing: 0.0833333em;
  margin-top: 24px; }

#accomodations {
  background-color: #FA8072; }

#photos {
  background-color: #333; }
  #photos p {
    color: #FA8072; }

#registry {
  background-color: #fff; }
  #registry .col-third img {
    max-height: 150px;
    width: auto; }

.col-third {
  margin: 60px 0; }

#countdown {
  background-position: center bottom; }
  #countdown #clockdiv {
    text-align: center; }
    #countdown #clockdiv .time-group {
      display: inline-block;
      text-align: left;
      margin: 0 15px;
      color: white; }
      #countdown #clockdiv .time-group#seconds {
        width: 90px; }
      #countdown #clockdiv .time-group span {
        font-size: 80px;
        color: white;
        font-weight: bold;
        line-height: 1em; }

@media screen and (max-width: 767px) {
  #countdown #clockdiv .time-group {
    display: block;
    text-align: center; }
    #countdown #clockdiv .time-group#seconds {
      width: initial; } }

@media screen and (min-width: 768px) {
  .col-half {
    width: 50%;
    float: left; }
  .col-third {
    width: 33%;
    float: left; }
  #registry img {
    position: relative;
    top: 75px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  section .section-container {
    padding: 250px 30px 150px; } }

@media screen and (max-width: 480px) {
  .hero-contents h1 {
    font-size: 40px; }
  .hero-contents h3 {
    line-height: 1.4em; } }
