/* _base */ 

/* Base corrections */ 



body 
	font-size: 1.8rem 
	background: $offwhite
	.site-main 
		padding: 0 
	.site-content
		float: none 
		margin-left: 0 
		width: 100% 
		overflow-x: hidden 
	.site-footer
		float: none 
		margin: 0
		width: 100% 
	&:before
		display: none 
	#page.site 
		max-width: initial 


/* End base corrections */ 
.row 
	margin-top: 30px 
section
	min-height: 100vh
	position: relative 
	background: 
		size: cover 
		position: center 
		repeat: no-repeat 
	.section-container 
		max-width: 1028px 
		margin: 0 auto 
		padding:  80px 15px 60px
		min-height: 75vh
.clearfix:after 
	visibility: hidden
	display: block
	font-size: 0
	content: " "
	clear: both
	height: 0
	
* html .clearfix              
	zoom: 1  /* IE6 */
*:first-child+html .clearfix 
	zoom: 1  /* IE7 */


#hero 
	background-position: center top  
	.section-container	
		padding:
			top: 150px 
.hero-contents 
	position: relative 
	text-align: center 
	top: 50vh 
	@include transform(translateY(-50%)) 
	h1 
		margin-top: 1.5em 
		font-size: 65px 

	h3
		margin-top: 1.5em 
	.rsvp
		cursor: pointer  
		margin: 0 auto 
		display: inline-block  
		background-color: #fff 
		color: #1b1b1b
		border-radius: 500px 
		border: none 
		text-align: center 
		padding: 1em 2em 
		line-height: 1em 
		font-size: 13px 
		letter-spacing: 3px 
		@include transition(opacity .2s ease-in-out)
		&:hover 
			opacity: 0.7
			outline: initial 
			border: none 

#save-the-date 
	.section-container 
		position: relative 
		top: 50vh 
		@include transform(translateY(-50%)) 
		padding-bottom: 25% 
	h1 
		letter-spacing: 0.0833333em
		margin-top: 24px 

#accomodations 
	background-color: $color1

#photos
	background-color: $dark
	p 
		color: $color1 

#registry
	background-color: #fff  
	.col-third 
		img 
			max-height: 150px 
			width: auto 

.col-third 
	margin: 60px 0 

#countdown 
	background: 
		position: center bottom 
	#clockdiv	
		text-align: center 
		.time-group
			display: inline-block 
			text-align: left 
			margin: 0 15px 
			color: white 
			&#seconds
				width: 90px 
			span 
				font-size: 80px 
				color: white 
				font-weight: bold 
				line-height: 1em 
@media screen and (max-width: 767px) 
	#countdown 
		#clockdiv
			.time-group 
				display: block 
				text-align: center 
				&#seconds 
					width: initial 				

@media screen and (min-width: 768px ) 
	.col-half
		width: 50% 
		float: left
	.col-third 
		width: 33% 
		float: left 
	#registry 
		img 
			position: relative 
			top: 75px 
			@include transform(translateY(-50%)) 
	section 
		.section-container
			padding: 250px 30px 150px

@media screen and (max-width: 480px)
	.hero-contents 
		h1 
			font-size: 40px
		h3 
			line-height: 1.4em  
