/* _header */ 

header
	position: fixed  
	top: 0 
	left: 0 
	width: 100% 
	z-index: 10
	background-color: rgba(0,0,0,0.5)
	color: white 
	padding-top: 30px 
	@include transition(all .25s ease-in-out)
	&:hover 
		background-color: rgba(0,0,0,0.75) 
	#mobile-menu-container 
		display: none 
	#mobile-menu
		display: none 
	#mobile-toggle
		display: none 
.nav-container 
	max-width: 1028px 
	display: block 
	margin: 0 auto 
	.top-menu-panel
		width: 39% 
		display: inline-block 
		float: left 
		text-align: center 
		@include transition(all .3s ease-in-out)
		ul 
			list-style: none 
			display: inline-block 
			li 
				float: left 
				margin: 5px 10px  
				a 
					color: $mostlyWhite 
					font-size: 
					letter-spacing: 1.5px 
					font-size: 14px 
					font-weight: 200  
					&:hover 
						color: #fff 
	.site-title
		width: 20% 
		display: inline-block 
		float: left 

#rsvp 
	display: none 
	height: 100% 
	width: 100% 
	background-color: rgba(0,0,0,0.6) 
	position: fixed  
	top: 0 
	right: 0 
	z-index: 200 
	overflow: auto 

	#rsvp-container 
		max-width: 600px 
		margin: 120px auto 
		background-color: $offwhite
		padding: 60px 
		position: relative 		

		form 
			span 
				font: 
					size: 14px 
				color: $salmon 


	#exit 
		position: absolute 
		top: 15px 
		right: 15px 
		width: 30px 
		height: 30px 
		background-color: $salmon 
		cursor: pointer 
		text-align: center 
		font:
			size: 20px  
			weight: bold 
		border-radius: 50px 
		

@media screen and (max-width: 767px) 

	header 
		position: static 
		padding: 0 
		background-color: $dark 
		&:hover 
			background-color: $dark 
		.nav-container 
			height: 80px 
			position: relative 
			overflow: visible
			z-index: 100 
			.site-title 
				position: absolute 
				left: 15px 
				top: 15px  
			.top-left, .top-right 
				display: none 

			#mobile-toggle
				display: block 
				width: 60px 
				height: 60px 
				position: absolute
				top: 10px 
				right: 10px
				cursor: pointer  
			#toggle-icon 
				width: 40px 
				height: 5px 
				background-color: white 
				position: relative 
				top: 30px 
				left: 10px 
				&:before, &:after 
					content: ""
					height: 5px 
					width: 40px 
					background-color: white 
					display: block 
					position: absolute
				&:before 
					top: -10px 
				&:after 
					bottom: -10px 



			#mobile-menu-container 
				position: absolute
				background-color: $salmon 
				width: 100% 
				top: 80px 
				#mobile-menu 
					display: block 
				ul 
					list-style: none 
					margin: 0 
					text-align: center 
					> li
						padding: 0 15px
						margin: 15px 0 
						border-bottom: 1px solid $zinc
						> a 
							display: block 
							padding: 10px   


	#rsvp 
		#rsvp-container 
			padding: 30px 15px 

@media screen and (min-width: 768px) 
	#rsvp 
		.name 
			width: 50% 
			float: left 
			&.first-name
				padding-right: 5px 
			&.last-name 
				padding-left: 5px 






