/* _typography */ 

body 
	font-family: 'Josefin Sans', sans-serif
	color: $dark

h1, h2, h3, h4, h5
	text-align: center 
	&.white 
		color: $mostlyWhite

h1
	font-size: 54px 
	text-transform: uppercase 
	line-height: 1em 
	font-weight: 700 
	letter-spacing: 4px 
	margin: 0 auto .3em 

h2 
	font-size: 26px 
	line-height: 1.2em 
	text-transform: uppercase 
	letter-spacing: 3px 
	font-weight: 700 
	color: #salmon
	margin: 1em auto .3em 

h3 
	font-size: 17px 
	line-height: 1em 
	text-transform: uppercase 
	letter-spacing: 3px 
	font-weight: 400 
	margin: 3em auto .3em 


.section-content 
	p 
		width: 66% 
		margin: 1em auto 
		text-align: center 
		letter-spacing: 1px 

@media screen and (max-width: 480px)
	h1
		font-size: 25px 
	h2 
		font-size: 20px  
		
	.section-content
		p 	
			width: 100% 


